 body {
  width: 50%;
  margin:auto;
  font-family: "American Typewriter", serif;
  font-family: "arial", sans-serif;
}

h1 {
  font-family: "American Typewriter", serif;
  font-family: "arial", sans-serif;
}

h2 {
font-size: 30px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 30px;
}
 div {
     font-family: "American Typewriter", serif;
 }
